<h2>Post content</h2>
<div class="row">
  <div class="col-md-6">
    
    <form action="/post-form" method="post" enctype="multipart/form-data"> {{!--enctype est nécessaire si le user veut telecharger un fichier via le formulaire--}}
      <div class="form-group">
        <label for="content-input">Content:</label>
        <input type="text" name="content" id="content-input" class="form-control" />
      </div>        
      <div class="form-group">
        <label for="creatorId-input">CreatorId:</label>
        <input name="description" id="description-input" class="form-control"> </textarea>
      </div>      
      <div class="form-group">
        <label for="image-input">Pic Path:</label>
        <input type="file" name="image" id="image-input" class="form-control-file" /> {{!--type: file est nécessaire pour télécharger un fichier--}}
      </div>      

      <div class="form-group">
        <label for="name-input">Name:</label>
        <input type="text" name="name" id="name-input" class="form-control-file" /> {{!--type: file est nécessaire pour télécharger un fichier--}}
      </div>  

      <a href="/"><button type="submit" class="btn btn-primary">Create</button></a>
    </form>
  </div>
</div>


